[build]
  publish = "exampleSite/public"
  command = "cd exampleSite && hugo --gc --minify -b $DEPLOY_PRIME_URL"

[build.environment]
  HUGO_VERSION = "0.152.2"
  HUGO_ENABLEGITINFO = "true"
  GO_VERSION = "1.20"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "cd exampleSite && hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "cd exampleSite && hugo --gc --minify -b $DEPLOY_PRIME_URL"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
