// Base styles
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-word;
}

body {
  color: $text-color;
  background-color: $background-color;
}

@media (min-width: $breakpoint-medium) {
  body {
    padding-bottom: $spacing-md;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

a strong {
  color: inherit;
}

a:hover, a:focus {
  text-decoration: underline;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: $spacing-xs;
  line-height: 1.25;
}

h1 {
  font-size: 24px;
}

h2 {
  margin-top: 21px;
  font-size: 21px;
}

h3, h4, h5, h6 {
  margin-top: 18px;
  font-size: 18px;
}

// Body text
p {
  margin-top: 0;
  margin-bottom: $spacing-md;
}

strong {
  color: #303030;
}

mark, ::selection {
  color: $text-color;
  background-color: $selection-background;
}

// Lists
ul, ol, dl {
  margin-top: 0;
  margin-bottom: $spacing-md;
}

ul.tdl {
  list-style: none;
  padding: 0 10px;
}

ul.tdl input[type=checkbox] {
  margin-right: 5px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 8px;
}

// Misc
hr {
  position: relative;
  margin: 22px 0;
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.footnotes {
  border-top: 2px solid $border-color;
  padding-top: $spacing-lg;
  margin-top: $spacing-lg;
}