.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight { color: #24292e; background-color: #f6f8fa; }

.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #6e7781;
  font-style: italic;
}

.highlight .cp {
  color: #6f42c1;
  font-weight: 600;
}

.highlight .err {
  color: #b31d28;
  background-color: #ffebe9;
}

.highlight .gi {
  color: #1a7f37;
  background-color: #dafbe1;
}

.highlight .gd {
  color: #b31d28;
  background-color: #ffebe9;
}

.highlight .ge {
  color: #24292e;
  font-style: italic;
}

.highlight .gr,
.highlight .gt {
  color: #cf222e;
}

.highlight .gh {
  color: #1f2328;
  font-weight: bold;
}

.highlight .go {
  color: #6e7781;
}

.highlight .gp {
  color: #24292e;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #8250df;
  font-weight: bold;
}

.highlight .k,
.highlight .kv,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr {
  color: #cf222e;
  font-weight: bold;
}

.highlight .kt {
  color: #953800;
  font-weight: bold;
}

.highlight .kn,
.highlight .ow,
.highlight .o {
  color: #cf222e;
  font-weight: bold;
}

.highlight .m,
.highlight .mb,
.highlight .mx,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo {
  color: #0550ae;
}

.highlight .se {
  color: #0a3069;
}

.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss,
.highlight .s {
  color: #0a3069;
}

.highlight .na,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf {
  color: #8250df;
  font-weight: bold;
}

.highlight .no {
  color: #1a7f37;
}

.highlight .bp,
.highlight .nb,
.highlight .ni,
.highlight .nn,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .nv,
.highlight .w {
  color: #24292e;
}

.highlight .nl {
  color: #1f2328;
  font-weight: bold;
}

.highlight .nt {
  color: #116329;
}